body{
    background-color:rgb(6, 100, 69);
    background-image: url("/static/images/django_logo.png/");
    background-repeat:no-repeat ;
    background-size:cover ;

}
legend{
    font-size: x-large;
    color: white;
}

input{
    display: flex;
    border:1px;
    height:20px;
    
}
label{
    color: white;
}
button{
    background-color: rgb(118, 118, 163);
    color:white;
    width: 80px;
    }

button:hover{
    background-color:grey ;

}